* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: "Hubballi", cursive;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

/* Game */

.game {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url(images/bg1.jpeg);
  background-position: center;
  background-size: cover;
  width: 900px;
  height: 90vh;
  border-radius: 10px;
}

.game__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 220px;
}

.game__button {
  width: 100px;
  height: 90px;
  line-height: 45px;
  font-size: 100px;
  margin-top: 8px;
  transition: all 0.5ms ease-in;
  visibility: visible;
}

.game__button.hide {
  visibility: hidden;
}

.game__timer {
  font-size: 50px;
  border: 4px solid black;
  border-radius: 8px;
  width: 160px;
  height: 60px;
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
}

.game__score {
  font-size: 50px;
  font-weight: bold;
  border: 4px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-top: 8px;
}

/* Game field */

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 8px;
}

.game__field .elsa {
  width: 60px;
  height: 90px;
}

.game__field .olaf {
  width: 80px;
  height: 100px;
}
.game__field img {
  cursor: pointer;
}
.game__field img:hover {
  transform: scale(1.1);
}
/* Pop-up */

.pop-up {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 600px;
  height: 200px;
  background-color: antiquewhite;
  border: 4px solid black;
  bottom: 150px;
  border-radius: 8px;
}

.pop-up__refresh img {
  width: 70px;
  height: 70px;
  background-color: transparent;
}

.pop-up__message {
  font-size: 40px;
  margin-top: 20px;
  font-weight: bold;
}
