* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
}

header ul {
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5%;
  height: 10vh;
}

header li {
  width: 100px;
  height: 100%;
  line-height: 10vh;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
}

header li:hover {
  background-color: mistyrose;
  cursor: pointer;
}

header li:hover a {
  color: rosybrown;
}

a {
  text-decoration: none;
}

header li > a {
  color: black;
}

.background {
  background-color: antiquewhite;
  width: 1000px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.background .title {
  font-size: 50px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4%;
}

table {
  height: 100%;
  width: 60%;
}

tbody tr td {
  padding: 1%;
}

table tbody tr:nth-child(even) {
  background-color: lightgray;
}

thead tr th {
  background-color: antiquewhite;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 1%;
  padding-bottom: 1%;
}

footer p {
  padding-left: 15%;
  padding-right: 15%;
  color: black;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: sandybrown;
}
